

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fredoka', sans-serif;
}

body{
    background-color: bisque;
}

/* impostazione header */

.headercontainer{
    color: rgb(192, 7, 99);
    text-align: center;
    margin: 5%;
}

p{
    color: black;
}

main{
    margin-top: 10%;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.row{
    height: auto;
    width: auto;
}

.card{
    margin: 10px;
    float: left;
    background-color: black;
    width: calc(100%/3 - 20px);
    min-width: fit-content;
    height: 100px;
}

.foto{
    float: left;
    width: 100px;
    height: 100px;
    margin: 0;
}

.details{
    float: left;
    text-align: left;
    margin: 0;
}

.name{
    font-weight: bold;
    color: white;
}

.role{
    color: white;

}

.mail{
    color: rgb(0, 110, 253);
}
